/* The css for the 3 competetive teams pages, Exothermic, Quantum, and Blaze Qubits */

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  font-size: 18px;
  font-family: "roboto", sans-serif;
}

p {
  letter-spacing: -0.019em;
}

.title-background-image {
  width: 100%;
  height: 500px;
}

.title-container {
  position: absolute;
  top: 215px;
  width: 1126px;
}

.title-container h3 {
  margin-top: 25px;
  margin-bottom: 40px;
  color: white;
}

.title-container button {
  background-color: #CF1D2D;
  border: none;
  border-radius: 8px;
  color: white;
  width: 200px;
  height: 36px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.division-overview {
  margin-top: 128px;
  width: 1126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview-content {
  width: 760px;
  background-color: white;
  border-radius: 24px;
  padding: 64px 75px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.overview-content p {
  margin-top: 32px;
  line-height: 150%;
  width: 584px;
}

.division-img {
  width: 300px;
  border-radius: 28.8px;
}

.educational-outcomes {
  margin-top: 128px;
  width: 1126px;
  padding: 0px 75px;
}

.educational-outcomes h2 {
  margin-top: 0;
  margin-bottom: 32px;
  line-height: 54px;
}

.educational-outcomes-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 64px;
}

.educational-outcome p {
  margin-top: 16px;
}

.education-icon-container {
  background-color: white;
  display: inline-block;
  padding: 12px;
  border-radius: 7.69px;
  height: 74px;
  box-shadow: 0px 1.28px 2.56px rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}

.resources {
  width: 1126px;
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
  margin-bottom: 128px;
}

.schedule {
  background-color: white;
  padding: 64px 75px;
  width: 681px;
  height: 389px;
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.support {
  background-color: white;
  padding: 64px 75px;
  width: 381px;
  height: 418px;
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


.season-schedule {
  display: flex;
  justify-content: space-between;
}

.season-schedule div p {
  margin-top: 8px;
  margin-bottom: 0px;
}

.support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}