main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#support-us-title {
  display: flex;
  justify-content: space-between;
  width: 1126px;
  position: relative;
  margin-top: 220px;
  margin-bottom: 104px;
}

#support-us-title h1 {
  font-size: 80px;
  width: 636px;
  line-height: 100px;
  color: black;
}

#support-us-title p {
  width: 410px;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  line-height: 22.5px;
}

#northwest-photo {
  margin-bottom: 104px;
  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#how-to-get-involved {
  background-color: white;
  width: 1126px;
  border-radius: 24px;
  padding: 64px 75px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 104px;
}

#how-to-get-involved h2 {
  margin-bottom: 32px;
}

#support-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 64px;
  row-gap: 64px;
}

.support-method button {
  width: 200px;
  height: 36px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #CF1D2D;
  margin-top: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.support-method p {
  margin-top: 16px;
  letter-spacing: -0.019em; /* -1.9% */
}

.support-method h3 {
  margin-top: 16px;
}